# IMDb Assignment - Esther Ubong-Abasi

+ Who directed the film with the most revenue?
+ What year the film with the longest runtime was made?
+ What is the most popular genre of film?

## Step1: Data Importation

In [1]:
import pandas as pd
import glob

In [3]:
data = pd.read_csv('IMDB-Movie-Data.csv', index_col = 'Title')

In [4]:
data.head(10)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [5]:
data.shape

(1000, 11)

## Step 2: Data Cleaning

In [6]:
data.isnull().sum()

Rank                    0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [7]:
data.dropna(how='any', inplace=True)

In [8]:
data.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

### Data Indexing

In [9]:
data[['Director','Rating', 'Metascore']]

                                      Director  Rating  Metascore
Title
Guardians of the Galaxy             James Gunn     8.1       76.0
Prometheus                        Ridley Scott     7.0       65.0
Split                       M. Night Shyamalan     7.3       62.0
Sing                      Christophe Lourdelet     7.2       59.0
Suicide Squad                       David Ayer     6.2       40.0
...                                        ...     ...        ...
Resident Evil: Afterlife    Paul W.S. Anderson     5.9       37.0
Project X                      Nima Nourizadeh     6.7       48.0
Hostel: Part II                       Eli Roth     5.5       46.0
Step Up 2: The Streets              Jon M. Chu     6.2       50.0
Nine Lives                    Barry Sonnenfeld     5.3       11.0

[838 rows x 3 columns]

## Step 3: Data Analysis

In [47]:
import matplotlib.pyplot as plt

####  Who directed the film with the most revenue?

In [10]:
data.groupby('Title')['Revenue (Millions)'].max().sort_values(ascending=False)[:5]

Title
Star Wars: Episode VII - The Force Awakens    936.63
Avatar                                        760.51
Jurassic World                                652.18
The Avengers                                  623.28
The Dark Knight                               533.32
Name: Revenue (Millions), dtype: float64

In [12]:
data.groupby('Director')['Revenue (Millions)'].max().sort_values(ascending=False)[:5]

Director
J.J. Abrams          936.63
James Cameron        760.51
Colin Trevorrow      652.18
Joss Whedon          623.28
Christopher Nolan    533.32
Name: Revenue (Millions), dtype: float64

The film with the highest revenue is Star Wars: Episode VII - The Force Awakens and it was directed by J.J. Abrams.

####  What year the film with the longest runtime was made?

In [24]:
data.groupby('Year')['Runtime (Minutes)'].max().sort_values(ascending=False)[:5]

Year
2015    187
2013    180
2012    172
2009    170
2014    169
Name: Runtime (Minutes), dtype: int64

In [25]:
data.groupby('Title')['Runtime (Minutes)'].max().sort_values(ascending=False)[:5]

Title
The Hateful Eight          187
La vie d'Adèle             180
The Wolf of Wall Street    180
Cloud Atlas                172
3 Idiots                   170
Name: Runtime (Minutes), dtype: int64

The film with the highest runtime is The Hateful Eight which was released in the year 2015

#### What is the most popular genre of film?

In [26]:
data['Genre'].value_counts()

Action,Adventure,Sci-Fi    50
Comedy,Drama,Romance       30
Drama                      29
Drama,Romance              27
Comedy                     26
                           ..
Comedy,Romance,Sport        1
Biography,Comedy,Crime      1
Adventure,Drama,Western     1
Action,Horror,Mystery       1
Biography,Drama,Family      1
Name: Genre, Length: 189, dtype: int64

The most popular genre was the combination of action, adventure and sci-fi